@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  --sb-track-color: #000000;
  --sb-thumb-color-top: #64748b;
  --sb-thumb-color-bottom: #64748b;
  @apply text-text dark:text-darkText;
}

body::-webkit-scrollbar {
  width: 0px;
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, var(--sb-thumb-color-top) 0%, var(--sb-thumb-color-bottom) 99%);
  border: 2px solid rgba(0, 0, 0, 1);
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

@layer utilities {
  .favorite-bg {
    @apply bg-gradient-to-b from-slate-900 via-blue-500 to-slate-900 bg-[length:200%_200%];
  }

  .cosmic-bg {
    @apply bg-gradient-to-b from-slate-900 via-logoBlue to-slate-900 bg-[length:200%_200%] animate-rainbow;
  }

  .cosmic-border {
    @apply border-black;
  }

  .cosmic-text {
    @apply text-white;
  }

  @keyframes rainbow {
    0% {
      background-position: 0% 0%;
    }
    40% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    90% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
  

  .animate-rainbow {
    animation: rainbow 30s ease-in-out infinite;
  }

  .grid-bg-light {
    background-image: linear-gradient(to right, #ffffff6d 1px, transparent 0px),
      linear-gradient(to bottom, #ffffff6d 1px, transparent 0px);
    background-size: 20px 20px;
    background-position: -1px -1px;
    z-index: -1;
  }

  .grid-bg-dark {
    background-image: linear-gradient(to right, #00000012 1px, transparent 0px),
      linear-gradient(to bottom, #00000012 1px, transparent 0px);
    background-size: 50px 50px;
    background-position: -13px 0px;
    z-index: -1;
  }

  .grid-bg-sm {
    background-image: linear-gradient(to right, #ffffff1e 1px, transparent 0px),
      linear-gradient(to bottom, #ffffff1e 1px, transparent 0px);
    background-size: 6px 6px;
    background-position: -1px -1px;
    z-index: -1;
  }

  .grid-bg-sm-dark {
    background-image: linear-gradient(to right, #0000001e 1px, transparent 0px),
      linear-gradient(to bottom, #0000001e 1px, transparent 0px);
    background-size: 6px 6px;
    background-position: -1px -1px;
    z-index: -1;
  }

  .grid-bg-dot {
    background-image: radial-gradient(circle, #ffffffc8 1.5px, rgba(0, 0, 0, 0) 1px);
    background-size: 100px 100px;
    background-position: 0px 15px;
    z-index: 1;
  }

  .grid-bg-dot-dark {
    background-image: radial-gradient(circle, #00000033 1.5px, rgba(0, 0, 0, 0) 1px);
    background-size: 40px 40px;
    background-position: 0px 0px;
    z-index: -1;
  }

  .grainy-texture {
    position: relative;
    z-index: 0;
  }

  .grainy-texture::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/textures/grainy-texture.jpeg");
    background-size: 100%;
    background-repeat: repeat;
    mix-blend-mode: multiply;
    opacity: 0.6;
    pointer-events: none;
    z-index: -1;
  }
}
