@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  --sb-track-color: #000000;
  --sb-thumb-color-top: #64748b;
  --sb-thumb-color-bottom: #64748b;
  @apply text-text dark:text-darkText;
}

body::-webkit-scrollbar {
  width: 0px;
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, var(--sb-thumb-color-top) 0%, var(--sb-thumb-color-bottom) 99%);
  border: 2px solid rgba(0, 0, 0, 1);
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

@layer utilities {
  .grid-bg {
    background-image: linear-gradient(to right, #ffffff11 1px, transparent 0px),
      linear-gradient(to bottom, #ffffff11 1px, transparent 0px);
    background-size: 20px 20px;
    background-position: -1px -1px;
    z-index: -1;
  }

  .grid-bg-dark {
    background-image: linear-gradient(to right, #00000055 1px, transparent 0px),
      linear-gradient(to bottom, #00000055 1px, transparent 0px);
    background-size: 20px 20px;
    background-position: -1px -1px;
    z-index: -1;
  }

  .grid-bg-dot {
    background-image: radial-gradient(circle, #ffffff 1px, rgba(0, 0, 0, 0) 1px);
    background-size: 80px 80px;
    background-position: 0px 0px;
    z-index: -1;
  }

  .grid-bg-dot-dark {
    background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);
    background-size: 80px 80px;
    background-position: 0px 0px;
    z-index: -1;
  }

  .grainy-texture {
    position: relative;
    z-index: 0;
  }

  .grainy-texture::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/textures/grainy-texture.jpeg");
    background-size: 100%;
    background-repeat: repeat;
    mix-blend-mode: multiply;
    opacity: 0.6;
    pointer-events: none;
    z-index: -1;
  }
}
