@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0px);
  }
}

.float {
  animation: float 3s ease-in-out infinite;
  animation-play-state: running;
}

.floatWrapper:hover .float {
  animation-play-state: paused;
}

.card {
  position: relative;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  border-radius: 0px;
  font-size: medium;
  font-weight: 500;
  font-family: inherit;
  z-index: 1;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.card::after,
.card::before {
  content: '';
  position: absolute;
  background-image: conic-gradient(from var(--angle),
      #3357cc,
      #000000,
      #3357cc
      );
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  border-radius: 0;
  border: 4px solid #000;
  z-index: 0;
  animation: 4s spin linear infinite;
}

.card::before {
  filter: blur(0.5rem);
  opacity: 0.0;
}


@keyframes spin {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }
}
